 # # .gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Project Logs & Dumps
logs/*.json
logs/*.log

# Configuration & Secrets
config.py

# Database
*.db
*.sqlite3

# System
.DS_Store

#dumps
*.dump