/* # static/css/dashboard.css */

:root {
    --dash-accent: #4a5568; /* Muted Charcoal */
    --dash-border: #e2e8f0; /* Soft Grey */
    --dash-text: #2d3748;
}

.dashboard-controls .btn-outline-custom {
    color: var(--dash-accent);
    border-color: var(--dash-border);
    background-color: #fff;
    height: 38px;
    transition: all 0.2s ease;
}

.dashboard-controls .btn-outline-custom:hover,
.dashboard-controls .btn-outline-custom.active,
.dashboard-controls .show > .btn-outline-custom.dropdown-toggle {
    background-color: var(--dash-accent) !important;
    border-color: var(--dash-accent) !important;
    color: #fff !important;
}

.dashboard-controls .form-select-custom {
    height: 38px;
    border-color: var(--dash-border);
    color: var(--dash-text);
    border-radius: 0.375rem;
    cursor: pointer;
}

.dashboard-controls .form-select-custom:focus {
    border-color: var(--dash-accent);
    box-shadow: 0 0 0 0.2rem rgba(74, 85, 104, 0.1);
}

.custom-dropdown-menu {
    border: 1px solid var(--dash-border);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* ================ CSS for /maps page ==============*/
#map { 
    height: calc(100vh - 220px); 
    min-height: 400px;
    width: 100%; 
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    border: 1px solid #dee2e6;
}
.map-container { 
    padding-top: 10px; 
    padding-bottom: 20px;
}

/* Optional: Make the lines look even better (thinner on desktop) */
.leaflet-interactive {
    stroke-linejoin: round;
    stroke-linecap: round;
}

/* Minimalist Recenter Button */
.leaflet-bar a.recenter-control {
    background-color: #fff;
    border-bottom: 1px solid #ccc; /* Matches Leaflet's internal divider */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s;
    font-size: 16px;
    color: #444;
}

.leaflet-bar a.recenter-control:hover {
    background-color: #b2acac;
}