<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3 border">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Cycling Stats</h1>
            <p class="col-md-8 fs-4">Dashboard for strava activities</p>
            <a href="/dashboard" class="btn btn-primary btn-lg px-4" role="button">Open Dashboard</a>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-4 bg-light border rounded-3">
                <h2>Activity Sync</h2>
                <p>Manually trigger a synchronization with Strava.</code>.</p>
                <a href="{{ url_for('ops.sync_activities') }}" class="btn btn-outline-secondary btn-sm" role="button">
                    Force Sync
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-4 bg-light border rounded-3">
                <h2>Dash Version</h2>
                <p>Access the original Plotly Dash interface for advanced analytics and filtering.</p>
                <a href="/dashboard_dash/" class="btn btn-outline-light btn-sm" role="button">Open Dash</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}